/*Global*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(30, 34, 38);
    color: white;
}
p{
    line-height: 1.5;
}
a{
    color: black;
    text-decoration: none;
}
a{
    color: rgb(18, 18, 231);
}
/*table*/
table {
    width: 500px;
    border:1px solid white;
    border-collapse: collapse;
    margin-right: 20%;
    text-align: center;
}
td,th{
    border:1px solid white;
    padding: 10px;
}
/*Utilities*/
.active{
    color: rgb(12, 116, 121);
    font-weight: bold;
}
.text-primary{
    color: #494949;
}
.text-secundary{
    color: rgb(12, 116, 121);
}
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.tabla-container{
    width: 95%;
    margin-left: 1%;
    margin-right: 2%;
    border-collapse: collapse;
    
}
.body-pages{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
}
/*nav*/
.menu-nav{
height: 30px;
background-color: white;
padding-left: 20px;
}
.menu-nav a{
    margin-right: 30px;
}
.menu-nav a:hover{
    color: rgb(12w, 116, 121);
}
/*Headers*/
header{
    width: 60%;
}
.my-info {
    padding-top: 30px;
    text-align: center;
}
.my-info img{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.my-info h1{
    font-weight: 400;
    font-size: 42px;
}
.my-info p{
    font-size: 22px;
    text-align: justify;
}
.my-skills {
    text-align: left;
}
.my-info-projects {
    padding-top: 30px;
    margin-left: 30px;
    text-align: justify;
    width: 100%;
}
.my-info-projects p{
    width: 150%;
    font-size: 20px;
    text-align: justify;
    padding-bottom: 30px;
}
.main-projects .tabla-container th{
    border-radius: 0 6px 6px 0;
    background-color: #6d6b6b;
    text-align: left;
    color:black;
    border: 1px solid #ddd;
    padding: 8px;
}
.main-projects .tabla-container td{

    background-color: rgb(198, 201, 209);
    text-align: left;
    width: 250px;
    color: black;
    text-size-adjust:calc(25%);
    border: 1px solid #ddd;
    padding: 8px;
}
/*main*/
.main-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-projects{
    display:block;
    justify-content: center;
    align-items: center;
}
.interest-flex{
    display:flex;
    justify-content:space-between;
      
}
.main .interest-flex .container {
    display:flex;
    justify-content:space-between;
    
}
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5%;
  }
  .skills-project {
    border: none;
    padding: 10px;
    margin-bottom: 50px;
    width: 300px;
    height: 150px;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); */
  }
  .image-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    
}
.image-box{
    text-align: center; /* Centra el texto con la imagen */
    width: 30%; /* Controla el tamaño de cada imagen */
}

.image-box img {
width: 100%;
max-width: 3000px;
height: auto;
border-radius: 10px;
transition: transform 0.3s ease-in-out;
cursor: pointer;
}
.image-box img:hover{
    transform: scale(1.1); /* Aumenta el tamaño un 20% */
}
.image-desc{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    
}