<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mystyle.css">
    <title>Document</title>
</head>
<body>
    <nav class="menu-nav">
        <a href="/views/index.html" class="active">Home</a>
        <a href="/views/skills.html">Skills</a>
        <a href="/views/projects.html">Projects</a>
        <a href="/views/publications.html">Publications</a>
        <a href="/views/contact.html">Contact</a>
        <a href="/files/CVMicaelaReyes.pdf" target="_blank">CV</a>
    </nav>
    <div class="main-flex">
        <header>
            <div class="my-info">
                <img src="/imagenes/FOTO.png" alt="">
                <h1>Lic. Micaela Reyes </h1>
                <p class="text-primary">Computer Systems</p>
                <p><a href="https://www.uabc.mx/" class="text-secondary">Universidad Autónoma de Baja California</a></p>
                <p class="text-primary">Mexicali, Baja California, Mexico</p>
                <p class="text-primary">Tel: 686-148-7917</p>
            </div>
        </header>
        <main>
            <div class="container">
                <h2> About me</h2>
                <p class="justificado">Hi, I am Micaela, a graduate in Computer Systems. Currently, I am dedicated to software development and since August 2012, 
                    I have been working for the <a href="https://www.bajacalifornia.gob.mx/" class="text-secondary"> Government of the State of Baja California.</a> I am committed to system innovation and constantly seek to learn new technologies that allow me to advance in the technological field. Additionally, I am interested in acquiring new skills in business intelligence and artificial intelligence.</p>
                <p class="justificado">I am interested in promoting teamwork, effective communication, and working with a results-oriented approach. In my free time, I enjoy listening to music. I consider myself an adventurous person; I like to explore various places, as well as their people and customs.</p>
               <br>
               <br>
            <div class="interest-flex">
                <div class="container">
                    <h3>Interests</h3>
                    <ul>
                        <li>Aplicaciones web</li>
                        <li>Analitica de Datos</li>
                        <li>Inteligencia de Negocios</li>
                        <li>Visualizacion de Datos</li>
                    </ul>
                </div>   
                <div class="container">
                    <h3>Interests</h3>  
                    <ul>
                        <li>Project Manager</li>
                        <li>Software</li>
                        <li>POO</li>
                        <li>Html/Css</li>
                    </ul>
                </div>   
        </div>
        </main>
    </div>
</body>
</html>