<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mystyle.css">
    <title>Document</title>
</head>


<body class="body-pages">
    <nav class="menu-nav">
        <a href="/views/index.html" >Home</a>
        <a href="/views/skills.html">Skills</a>
        <a href="/views/projects.html" class="active">Projects</a>
        <a href="/views/publications.html">Publications</a>
        <a href="/views/contact.html">Contact</a>
        <a href="/files/CVMicaelaReyes.pdf" target="_blank">CV</a>

    </nav>
    <div class="main-projects">
        <header>
            <div class="my-info-projects">
                <h1>Projects</h1>
                <p>As a collaborator in the application development department, I have been able to participate in projects 
                    that are used for government administration. Below I list some of the projects that I am responsible for 
                    ensuring that these applications are running smoothly.</p>
           </div>
        </header>
        <main>
            <div class="tabla-container">
                <table class="tabla-container">
                    <thead>
                        <th style="text-align: left; width: 400px;">Project Name</th>
                        <th style="text-align: left; width: 800px;">Description</th>
                        <th style="text-align: left; width: 300px;">Technology</th>
                        <th style="text-align: left; width: 100px;">Link/Icon</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Portal de Adquisiciones de B.C</td>
                            <td>
                                This portal has several services, in which we can find: supplier registration, consult tenders 
                                or invitations to participate as a provider of a service or product, it also has a link to a system 
                                in which both quoters, administrators and suppliers can log in with a username and password to follow 
                                up on their generated quotes.</td>
                            <td>Visual Studio Professional 2015 (MVC) - Git - DBMS Oracle </td>
                            <td><a href="https://tramites.ebajacalifornia.gob.mx/Compras/"> PortalAdquisiciones</a></td>
                        </tr>
                        <tr>
                            <td>SIPPPE</td>
                            <td>This portal is an interface to capture and track all change requests that are made to the systems, whether 
                                the agency that uses any computer system detects an error or modification, it is done through this portal, 
                                here there are people in charge of each department that is responsible for analyzing the change and passing 
                                it on to the corresponding areas, whether it is systems development, infrastructure or database</td>
                            <td>NetBeans - Java - Tortoise - DBMS Oracle</td>
                            <td><a href="https://poa.ebajacalifornia.gob.mx/poa/">1203 Mesa Servicio</a></td>
                        </tr>
                        <tr>
                            <td>Ordenes de Servicio (1203)</td>
                            <td>This portal is an interface to capture and track all change requests that are made to the systems, whether the 
                                agency that uses any computer system detects an error or modification, it is done through this portal, here there 
                                are people in charge of each department that is responsible for analyzing the change and passing it on to the 
                                corresponding areas, whether it is systems development, infrastructure or database</td>
                            <td>Visual Studio Professional 2015 (MVC) - Git - DBMS Oracle</td>
                            <td><a href="https://1203.ebajacalifornia.gob.mx/Cuenta/IniciarSesion">1203 Mesa Servicio</a></td>
                        </tr>
                        <tr>
                            <td>Sistema de Compras</td>
                            <td>The Purchasing system is a desktop system, it is used in the Purchasing department, here all the purchase requests 
                                made by the departments arrive, a quote is made and a purchase order is generated to the supplier.</td>
                            <td>PowerBuilder Version 10.5.2 Build 7826 - PB Native SourceControl - DBMS Oracle</td>
                            <td><img src="/imagenes/compras.ico" alt="Icono" width="24" height="24">Compras</td>
                        </tr>
                       <tr>
                            <td>Sistema de Bienes Muebles</td>
                            <td>System where items are received and tracked to generate a payment receipt to the supplier.</td>
                            <td>PowerBuilder Version 10.5.2 Build 7826 - PB Native SourceControl - DBMS Oracle</td>
                            <td><img src="/imagenes/bm.ICO" alt="Icono" width="24" height="24">Bienes Muebles</td>
                        </tr>
                        <tr>
                            <td>Sistema de Egresos</td>
                            <td>System where all procedures that are subject to payment are received, such as purchases, bill payments, travel expenses, 
                                gasoline, etc...</td>
                            <td>PowerBuilder Version 10.5.2 Build 7826 - PB Native SourceControl - DBMS Oracle</td>
                            <td><img src="/imagenes/egreso.ICO" alt="Icono" width="24" height="24" >          Egresos</td> 
                        </tr>
                    </tbody>
                </table>
                <div>
                  <h4> Other projects</h4>
                  <p style="width: 90%;">As part of the development department, I have had to participate in several other projects, where another person 
                    is responsible for the development, to mention a few, I have been supporting the budget procedures system, real estate system, consumption 
                    system.</p>
                </div>
                <div class="image-container">
                    <div class="image-box">
                        <p class="image-desc"></p>
                        <img src="/imagenes/Java.png" alt="Imagen 1">
                    </div>
                    <div class="image-box">
                        <p class="image-desc"></p>
                        <img src="/imagenes/VS.png" alt="Imagen 2">
                    </div>
                    <div class="image-box">
                        <p class="image-desc"></p>
                        <img src="/imagenes/oracle.png" alt="Imagen 3">
                    </div>
                </div>
            </div>  
        </main>
    </div>
</body>
</html>